body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

main {
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
}

p {
    text-align: left;
}

ul {

    padding-block: 6px;
}

li {
    text-align: left;
}

h2 {
    border: 3px solid black;
    border-radius: 25px;
    outline: #4CAF50 solid 5px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    width: fir-content;
    max-width: 75%;
    word-wrap: break-word;
    font-size: clamp(18px, 3vw, 28px);
  }

iframe.d {
  width: 60%;
  height: 133vh;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #000000;
}

@media (max-width: 720px) {
  iframe.d {
    width: 100%;
    height: 47vh;
  }
}

.index-page {
    overflow: hidden;
    text-align: center;
    background-color: #f0f0f0;
    background: url('../assets/progreso.jpg') no-repeat center;
    background-size: cover;
}

.index-page header {
    background: none; /* Sin fondo */
    color: black;     /* Texto en negro */
    padding: 10px 0;  /* Padding */
}

.index-page .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.index-page .button {
    position: absolute;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.index-page .button:hover {
    background-color: #0056b3;
}

/* Posiciones de los botones en la primera montaña (7 semanas) */
.index-page #btn1 { left: 1%; top: 45%; }
.index-page #btn2 { left: 4%; top: 37%; }
.index-page #btn3 { left: 19%; top: 35%; }
.index-page #btn4 { left: 21%; top: 25%; }
.index-page #btn5 { left: 24%; top: 15%; }
.index-page #btn6 { left: 28%; top: 0%; }
.index-page #btn7 { left: 36%; top: -1%; }

/* Posiciones de los botones en la segunda montaña (6 semanas) */
.index-page #btn8 { left: 43%; top: 19%; }
.index-page #btn9 { left: 48%; top: 33%; }
.index-page #btn10 { left: 54%; top: 39%; }
.index-page #btn11 { left: 58%; top: 49%; }
.index-page #btn12 { left: 67%; top: 51%; }
.index-page #btn13 { left: 69%; top: 57%; }
.index-page #btn14 { left: 40%; top: 11%; }
.index-page #btn15 { left: 78%; top: 63%; }

.redu {
  border-radius: 15px;
  width: 50%;
  height: auto;
}

.bor {
  border-radius: 15px;
}

.footer {
  position: relative;
  margin-top: 40px;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.arrow {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  width: 70px;
  gap: 4px;
  text-decoration: none;
}

.arrow-left .line {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  margin-left: 20px;
}

.arrow-right .line {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  margin-right: 20px;
}

.arrow-right:hover {
  animation: move-right 2s infinite ease;
}

.arrow-left:hover {
  animation: move-left 2s infinite ease;
}

@keyframes move-right {
  0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}

@keyframes move-left {
  0% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}

.round {
  width: 6px;
  height: 6px;
  background: #3da9fc;
  border-radius: 50%;
}

.arrow-right .two { transform: translateX(10px); }
.arrow-right .three { transform: translateX(20px); }
.arrow-right .four { transform: translateX(30px); }
.arrow-right .five { transform: translateX(20px); }
.arrow-right .six { transform: translateX(10px); }

.arrow-left .two { transform: translateX(-10px); }
.arrow-left .three { transform: translateX(-20px); }
.arrow-left .four { transform: translateX(-30px); }
.arrow-left .five { transform: translateX(-20px); }
.arrow-left .six { transform: translateX(-10px); }

.video-js {
  margin-bottom: 1.5em !important;
}

.video-js.vjs-fluid {
  width: 100% !important;
  max-width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 */
  position: relative;
}

.video-js.vjs-fluid > .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

@supports (font-size-adjust: none) {
  mjx-math {
    font-size-adjust: none;
  }
}
